/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.person_last_block {
		margin-top: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.resume_container .left,
	.s_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
		margin-bottom: 10px;
	}

	.toggle_mnu {
		top: 25px;
		right: 18px;
		height: 50px;
		width: 50px;
	}

	#back-top {
		bottom: 35px;
		right: 18px;
	}
	.social_wrap {
		text-align: center;
	}
	.copy_name {
		font-size: 20px;
		display: block;
    text-align: center;
    margin-bottom: 20px;
	}
	.social_wrap ul li {
		font-size: 25px;
	}
	.main_footer .social_wrap {
		float: none;
		text-align: center;
	}
	.main_footer .social_wrap ul {
		padding: 0;
		margin: 15px 0 5px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrap .top_name h1{
		font-size: 2.1em;
		padding: 0 10px 10px;
		margin: 0 11px 11px;
	}
	.top_wrap .top_name p {
		font-size: 1.2em;
	}
	a > .round {
		height: 70px;
		width: 70px;
	}
	.toggle_mnu {
		top: 25px;
		right: 10px;
		height: 50px;
		width: 50px;
	}
	#back-top {
		bottom: 25px;
		right: 15px;
	}

.social_wrap {
		text-align: center;
	}
	.copy_name {
		font-size: 20px;
		display: block;
    text-align: center;
    margin-bottom: 20px;
	}
	.social_wrap ul li {
		font-size: 20px;
	}
	.main_footer .social_wrap {
		float: none;
		text-align: center;
	}
	.main_footer .social_wrap ul {
		padding: 0;
		margin: 15px 30px 5px 0;
	}

	.portfolio_item {
		margin-top: 15px;
	}
.portfolio_item .port_item_cont:hover {
		opacity: 1;
		padding-top: 15px;
	}	

	.top_mnu ul{
		margin-top: 125px;
	}


.main_form {
    padding: 0 5px;
}
.error {
   font-size: 10px;
   font-weight: 300;
   margin: 5px 0;
   padding-left: 5px;
}
		
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}